.navbar {
  background-color: lightskyblue;
  box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
  padding-top:50px;

}

.text {
  color: black;
}

.nav-item:after{
  content:"";
  display:table;
  width:0%;
  background:#2f2f2f;
  height:2px;
  transition-timing-function: cubic-bezier(1,0,0,1);
  transition-duration:.3s;

}

.nav-item:hover:after{
  width:100%;
}

.navbar-brand{
  color:white;
  font-size:25px;
}

.nav-item{
  margin-top:4px;
}
