<div class="container" style="margin-bottom: 300px">
  <h1 class="heading">Browse all the destinations available!</h1>
  <div class="container criteria-container">
    <div *ngFor="let crt of criteria;let i=index">
      <div class="container">
        <input type = "checkbox" [(ngModel)]="checked[i]" (click)="filterDestinations(crt, i)">
        <p *ngIf="isNumber(crt) && crt > 5"> Price in range of: {{crt}}</p>
        <p *ngIf="isNumber(crt) && crt <6"> Number of stars: {{crt}}</p>
        <p *ngIf="!isNumber(crt)">Country {{crt}}</p>
      </div>
    </div>
  </div>
  <button class="btn btn-dark" (click)="reset()">Reset filters</button>
  <div *ngFor="let destination of destinations">
    <div class="destination-container">
      <img class="destination-picture" src="{{ destination.picture }}"/>
      <p class="destination-text">Visit {{destination.name}} in the beautiful country of {{destination.country}}</p>
      <br>
      <div class="hotel-container">
        <div *ngFor="let hotel of destination.hotels">
          <a href = "{{hotel.website}}" target="_blank">{{hotel.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

