<div class="container">
  <h1 class="heading">Browse all the destinations available!</h1>
  <div class="container criteria-container">
    <div *ngFor="let crt of criteria;let i=index" class="arrange">
      <div class="container">
        <input type="checkbox" [(ngModel)]="checked[i]" (click)="filterDestinations(crt, i)">
        <p>{{crt}}</p>
      </div>
    </div>
  </div>
  <div *ngFor="let destination of destinations">
    <div class="destination-container">
      {{destination.name}}
      {{destination.country}}
    </div>
  </div>
</div>

<span (click)="reset()">reset</span>

{{ checked[1] }}
