$blue:#4287f5;
:host{
  font-family:sans-serif;
  background:black;
  display:flex;
  color:white;
  justify-content: center;
  text-align:center;
  padding:20px;
  font-size:16px;
  margin:-8px;
  margin-top:0px;
  box-shadow:0px -3px 6px rgba(0, 0, 0, 0.16);
  position:fixed;
  bottom:0;
  width:100%;
}

:host>div{
  margin:20px;
}

a{
  color:$blue;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

.section-title{
  font-size:20px;
  padding:5px;
}

.contact{
  display:flex;
  flex-direction:column;
}
 contact>span{
   margin:10px;
}

 .links{
  display: flex;
  align-items: center;
  flex-direction:column;
}


 .up{
  display: flex;
  justify-content: center;
  align-items:center;
}

 .up>span{
  background:$blue;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor:pointer;
  position: relative;
}

.up>span:hover{
  top:2px;
}
